/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: "Helvetica", sans-serif;/* Declare the base font-family */
    background-color: #f1fffa;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 1000px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    margin: auto;
}
header h1 {
    font-family: "Cambay", sans-serif;
    position: relative;
    top: -15px;
    left: 25%;
    padding: 0;
    margin: 5px;
    
}
header img {
    position: relative;
    margin: auto;
    padding: 5px;
}
header .subheading {
    position: relative;
    top: -40px;
    left: 30%;
    padding: 0;
    margin: 5px;
   
}

nav {
    margin: auto;
    background-color: #bbc7ce;
}
nav button {
    color: #4f6d7a;
}
nav ul {}
nav ul li {}
nav ul li a {
    color: #4f6d7a;
}
nav ul li.active a {
    color: #4f6d7a;
}
nav ul li a:hover {
    color: whitesmoke;
}

main {
    margin: auto;
}
main h2 {
    font-family: "Cambay", sans-serif;
    text-align: center;
}
main figure { 
    margin: 0 0 .2rem 2%; width:96%; }
main figure img { }

footer {
    background-color: #bbc7ce;
    text-align: center;
    margin: auto;
}