@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

nav {
     margin: auto;   
}
nav button { 
    display:none;
}  /* hamburger button does not need to be shown in the medium on up views */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
nav li {
    float: left;
    }

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
section.forecast { 
    display: block;
    position: relative;
    margin: auto;
}  /* show the 10-day forecast with the medium view and up */

}